<a href="https://colab.research.google.com/github/pankarpratiksha50/Mini-Pyspark-project/blob/main/mini_project_pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Basic pyspark project**

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder \
    .appName("ExcelReader") \
    .getOrCreate()

In [7]:
df = spark.read.csv("/content/orders(1).csv", header=True, inferSchema=True)
df.show()

+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+-------------+---------------+
|Order_ID|Customer_ID|Product_ID|Quantity|Order_Date|         Order_Time|Delivery_Date|      Delivery_Time|     Location|       Occasion|
+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+-------------+---------------+
|       1|       C037|        67|       5|24-02-2023|2025-10-04 23:48:13|   05-03-2023|2025-10-04 07:27:10|    Bardhaman|    Anniversary|
|       2|       C019|        41|       2|07-11-2023|2025-10-04 23:30:18|   13-11-2023|2025-10-04 07:16:17|       Jaipur|         Diwali|
|       3|       C029|        67|       5|14-07-2023|2025-10-04 19:12:03|   19-07-2023|2025-10-04 17:39:00|     Bilaspur|    Anniversary|
|       4|       C012|        14|       5|10-07-2023|2025-10-04 04:44:29|   19-07-2023|2025-10-04 06:33:23|     Guwahati|       Birthday|
|       5|       C078|        58|       2|11-02-2023|2025-10-04 19:44:48|   18-02-2023|2025-10-04 11:08:52|       Rajkot|Valentine's Day|
|       6|       C040|        28|       4|20-08-2023|2025-10-04 22:11:35|   26-08-2023|2025-10-04 19:06:46|        Sirsa| Raksha Bandhan|
|       7|       C009|        45|       2|08-05-2023|2025-10-04 01:45:13|   13-05-2023|2025-10-04 10:07:17|       Nanded|       Birthday|
|       8|       C097|        43|       3|08-11-2023|2025-10-04 19:20:02|   14-11-2023|2025-10-04 08:44:45|       Morena|         Diwali|
|       9|       C044|        27|       4|20-08-2023|2025-10-04 23:39:51|   29-08-2023|2025-10-04 23:59:54|       Rajkot| Raksha Bandhan|
|      10|       C099|        56|       3|26-02-2023|2025-10-04 00:17:26|   08-03-2023|2025-10-04 20:47:43|       Ambala|    Anniversary|
|      11|       C065|        16|       4|02-03-2023|2025-10-04 20:14:55|   03-03-2023|2025-10-04 23:19:47|      Belgaum|           Holi|
|      12|       C097|        38|       3|12-07-2023|2025-10-04 08:28:56|   20-07-2023|2025-10-04 23:34:57|       Karnal|       Birthday|
|      13|       C024|        20|       3|24-02-2023|2025-10-04 16:47:16|   04-03-2023|2025-10-04 02:27:37|   Gandhidham|    Anniversary|
|      14|       C042|        60|       1|08-11-2023|2025-10-04 03:46:06|   15-11-2023|2025-10-04 12:08:02|     Bilaspur|         Diwali|
|      15|       C069|        21|       5|26-08-2023|2025-10-04 02:52:39|   30-08-2023|2025-10-04 13:26:45|         Pune| Raksha Bandhan|
|      16|       C013|        20|       3|16-02-2023|2025-10-04 15:06:11|   20-02-2023|2025-10-04 22:14:21|      Khammam|    Anniversary|
|      17|       C056|        60|       2|04-11-2023|2025-10-04 11:31:33|   13-11-2023|2025-10-04 18:40:13|         Kota|         Diwali|
|      18|       C072|        23|       4|10-12-2023|2025-10-04 10:46:15|   11-12-2023|2025-10-04 00:20:29|    Moradabad|    Anniversary|
|      19|       C072|        62|       4|07-03-2023|2025-10-04 07:59:48|   08-03-2023|2025-10-04 03:04:34|Vijayanagaram|           Holi|
|      20|       C011|        52|       1|11-02-2023|2025-10-04 14:36:57|   14-02-2023|2025-10-04 01:34:16|      Madurai|Valentine's Day|
+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+-------------+---------------+
only showing top 20 rows

In [11]:
df.show(5)

+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+---------+---------------+
|Order_ID|Customer_ID|Product_ID|Quantity|Order_Date|         Order_Time|Delivery_Date|      Delivery_Time| Location|       Occasion|
+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+---------+---------------+
|       1|       C037|        67|       5|24-02-2023|2025-10-04 23:48:13|   05-03-2023|2025-10-04 07:27:10|Bardhaman|    Anniversary|
|       2|       C019|        41|       2|07-11-2023|2025-10-04 23:30:18|   13-11-2023|2025-10-04 07:16:17|   Jaipur|         Diwali|
|       3|       C029|        67|       5|14-07-2023|2025-10-04 19:12:03|   19-07-2023|2025-10-04 17:39:00| Bilaspur|    Anniversary|
|       4|       C012|        14|       5|10-07-2023|2025-10-04 04:44:29|   19-07-2023|2025-10-04 06:33:23| Guwahati|       Birthday|
|       5|       C078|        58|       2|11-02-2023|2025-10-04 19:44:48|   18-02-2023|2025-10-04 11:08:52|   Rajkot|Valentine's Day|
+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+---------+---------------+
only showing top 5 rows

In [12]:
df.printSchema()

root
 |-- Order_ID: integer (nullable = true)
 |-- Customer_ID: string (nullable = true)
 |-- Product_ID: integer (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Order_Date: string (nullable = true)
 |-- Order_Time: timestamp (nullable = true)
 |-- Delivery_Date: string (nullable = true)
 |-- Delivery_Time: timestamp (nullable = true)
 |-- Location: string (nullable = true)
 |-- Occasion: string (nullable = true)

In [13]:
from pyspark.sql.functions import *

In [14]:
df_distinct = df.distinct()

In [15]:
df_distinct.show()

+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+-----------+---------------+
|Order_ID|Customer_ID|Product_ID|Quantity|Order_Date|         Order_Time|Delivery_Date|      Delivery_Time|   Location|       Occasion|
+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+-----------+---------------+
|      13|       C024|        20|       3|24-02-2023|2025-10-04 16:47:16|   04-03-2023|2025-10-04 02:27:37| Gandhidham|    Anniversary|
|     374|       C087|         4|       1|07-11-2023|2025-10-04 07:47:32|   09-11-2023|2025-10-04 22:32:44|       Guna|         Diwali|
|     416|       C006|        58|       5|12-02-2023|2025-10-04 16:41:02|   17-02-2023|2025-10-04 09:37:01| Saharanpur|Valentine's Day|
|     422|       C044|        53|       2|20-08-2023|2025-10-04 03:03:58|   29-08-2023|2025-10-04 04:05:39|      Eluru| Raksha Bandhan|
|     752|       C034|         3|       5|10-02-2023|2025-10-04 11:38:01|   12-02-2023|2025-10-04 10:35:58|      Bally|Valentine's Day|
|     262|       C038|        49|       3|07-02-2023|2025-10-04 08:05:16|   11-02-2023|2025-10-04 01:06:57|Tirunelveli|Valentine's Day|
|     470|       C031|        47|       5|28-02-2023|2025-10-04 17:34:04|   06-03-2023|2025-10-04 15:29:29|  Bhavnagar|           Holi|
|     580|       C093|        24|       4|16-06-2023|2025-10-04 22:03:12|   20-06-2023|2025-10-04 12:25:42|   Bhatpara|       Birthday|
|     653|       C076|        17|       4|29-11-2023|2025-10-04 13:38:07|   01-12-2023|2025-10-04 05:52:11|   Bhilwara|    Anniversary|
|     695|       C046|        23|       4|05-03-2023|2025-10-04 16:36:52|   14-03-2023|2025-10-04 17:01:44|     Imphal|    Anniversary|
|     759|       C084|        48|       5|02-11-2023|2025-10-04 06:12:14|   11-11-2023|2025-10-04 06:06:56|   Bathinda|         Diwali|
|     255|       C092|        45|       2|27-12-2023|2025-10-04 03:42:35|   06-01-2024|2025-10-04 09:23:14|   Suryapet|       Birthday|
|     501|       C066|        46|       2|02-09-2023|2025-10-04 16:27:41|   08-09-2023|2025-10-04 07:33:36|Navi Mumbai|    Anniversary|
|     766|       C077|         1|       4|02-07-2023|2025-10-04 16:28:53|   07-07-2023|2025-10-04 00:19:44|     Hospet|  All Occasions|
|     842|       C085|        46|       2|29-12-2023|2025-10-04 17:11:33|   01-01-2024|2025-10-04 02:27:46|      Kulti|    Anniversary|
|       2|       C019|        41|       2|07-11-2023|2025-10-04 23:30:18|   13-11-2023|2025-10-04 07:16:17|     Jaipur|         Diwali|
|     169|       C051|         3|       2|06-02-2023|2025-10-04 10:28:57|   16-02-2023|2025-10-04 01:26:19|   Shivpuri|Valentine's Day|
|     172|       C070|        62|       4|03-03-2023|2025-10-04 04:40:04|   08-03-2023|2025-10-04 05:12:47|    Patiala|           Holi|
|     516|       C020|        22|       2|05-07-2023|2025-10-04 20:52:56|   06-07-2023|2025-10-04 01:06:20|       Gaya|  All Occasions|
|     571|       C046|         6|       1|28-02-2023|2025-10-04 09:38:25|   09-03-2023|2025-10-04 04:26:01|   Bhatpara|           Holi|
+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+-----------+---------------+
only showing top 20 rows

**dropDuplicates()**

In [16]:
df_unique_customers = df.dropDuplicates(["Customer_ID"])

In [17]:
df_unique_customers.show()

+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+-----------+---------------+
|Order_ID|Customer_ID|Product_ID|Quantity|Order_Date|         Order_Time|Delivery_Date|      Delivery_Time|   Location|       Occasion|
+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+-----------+---------------+
|     208|       C001|        18|       5|02-04-2023|2025-10-04 04:30:47|   12-04-2023|2025-10-04 07:06:36|      Kulti|       Birthday|
|     385|       C002|        50|       4|03-03-2023|2025-10-04 01:16:01|   08-03-2023|2025-10-04 10:46:18|      Alwar|           Holi|
|     249|       C003|        14|       2|10-09-2023|2025-10-04 22:22:16|   19-09-2023|2025-10-04 23:17:36|   Bareilly|       Birthday|
|     201|       C004|        55|       4|24-08-2023|2025-10-04 04:40:14|   30-08-2023|2025-10-04 03:52:28|      Dewas| Raksha Bandhan|
|     308|       C005|        57|       1|09-03-2023|2025-10-04 07:54:11|   12-03-2023|2025-10-04 12:11:24|     Haldia|       Birthday|
|      44|       C006|        14|       1|17-07-2023|2025-10-04 21:57:56|   27-07-2023|2025-10-04 10:48:09|  Bhavnagar|       Birthday|
|     158|       C007|        35|       2|03-03-2023|2025-10-04 15:40:17|   08-03-2023|2025-10-04 02:53:01|Medininagar|           Holi|
|      80|       C008|        39|       4|02-01-2023|2025-10-04 11:07:02|   11-01-2023|2025-10-04 02:05:50|      Salem|  All Occasions|
|       7|       C009|        45|       2|08-05-2023|2025-10-04 01:45:13|   13-05-2023|2025-10-04 10:07:17|     Nanded|       Birthday|
|      79|       C010|        40|       2|01-06-2023|2025-10-04 17:29:30|   11-06-2023|2025-10-04 07:34:53|   Varanasi|    Anniversary|
|      20|       C011|        52|       1|11-02-2023|2025-10-04 14:36:57|   14-02-2023|2025-10-04 01:34:16|    Madurai|Valentine's Day|
|       4|       C012|        14|       5|10-07-2023|2025-10-04 04:44:29|   19-07-2023|2025-10-04 06:33:23|   Guwahati|       Birthday|
|      16|       C013|        20|       3|16-02-2023|2025-10-04 15:06:11|   20-02-2023|2025-10-04 22:14:21|    Khammam|    Anniversary|
|      50|       C014|        41|       4|09-11-2023|2025-10-04 06:56:33|   16-11-2023|2025-10-04 10:19:22|   Jamalpur|         Diwali|
|      64|       C015|        25|       1|12-06-2023|2025-10-04 02:48:39|   15-06-2023|2025-10-04 22:05:41|   Chittoor|    Anniversary|
|     189|       C016|        57|       1|19-11-2023|2025-10-04 17:22:19|   22-11-2023|2025-10-04 13:21:54| Srikakulam|       Birthday|
|      66|       C017|        35|       5|26-02-2023|2025-10-04 21:00:44|   27-02-2023|2025-10-04 06:25:58|     Munger|           Holi|
|      24|       C018|        42|       3|25-07-2023|2025-10-04 05:10:42|   03-08-2023|2025-10-04 07:57:35|       Durg|  All Occasions|
|       2|       C019|        41|       2|07-11-2023|2025-10-04 23:30:18|   13-11-2023|2025-10-04 07:16:17|     Jaipur|         Diwali|
|      49|       C020|        43|       1|11-11-2023|2025-10-04 17:44:30|   18-11-2023|2025-10-04 13:49:52|Nangloi Jat|         Diwali|
+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+-----------+---------------+
only showing top 20 rows

**withColumnRenamed()**

In [18]:
df1 = df.withColumnRenamed("Order_Date", "order_date")

In [19]:
df1.show()

+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+-------------+---------------+
|Order_ID|Customer_ID|Product_ID|Quantity|order_date|         Order_Time|Delivery_Date|      Delivery_Time|     Location|       Occasion|
+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+-------------+---------------+
|       1|       C037|        67|       5|24-02-2023|2025-10-04 23:48:13|   05-03-2023|2025-10-04 07:27:10|    Bardhaman|    Anniversary|
|       2|       C019|        41|       2|07-11-2023|2025-10-04 23:30:18|   13-11-2023|2025-10-04 07:16:17|       Jaipur|         Diwali|
|       3|       C029|        67|       5|14-07-2023|2025-10-04 19:12:03|   19-07-2023|2025-10-04 17:39:00|     Bilaspur|    Anniversary|
|       4|       C012|        14|       5|10-07-2023|2025-10-04 04:44:29|   19-07-2023|2025-10-04 06:33:23|     Guwahati|       Birthday|
|       5|       C078|        58|       2|11-02-2023|2025-10-04 19:44:48|   18-02-2023|2025-10-04 11:08:52|       Rajkot|Valentine's Day|
|       6|       C040|        28|       4|20-08-2023|2025-10-04 22:11:35|   26-08-2023|2025-10-04 19:06:46|        Sirsa| Raksha Bandhan|
|       7|       C009|        45|       2|08-05-2023|2025-10-04 01:45:13|   13-05-2023|2025-10-04 10:07:17|       Nanded|       Birthday|
|       8|       C097|        43|       3|08-11-2023|2025-10-04 19:20:02|   14-11-2023|2025-10-04 08:44:45|       Morena|         Diwali|
|       9|       C044|        27|       4|20-08-2023|2025-10-04 23:39:51|   29-08-2023|2025-10-04 23:59:54|       Rajkot| Raksha Bandhan|
|      10|       C099|        56|       3|26-02-2023|2025-10-04 00:17:26|   08-03-2023|2025-10-04 20:47:43|       Ambala|    Anniversary|
|      11|       C065|        16|       4|02-03-2023|2025-10-04 20:14:55|   03-03-2023|2025-10-04 23:19:47|      Belgaum|           Holi|
|      12|       C097|        38|       3|12-07-2023|2025-10-04 08:28:56|   20-07-2023|2025-10-04 23:34:57|       Karnal|       Birthday|
|      13|       C024|        20|       3|24-02-2023|2025-10-04 16:47:16|   04-03-2023|2025-10-04 02:27:37|   Gandhidham|    Anniversary|
|      14|       C042|        60|       1|08-11-2023|2025-10-04 03:46:06|   15-11-2023|2025-10-04 12:08:02|     Bilaspur|         Diwali|
|      15|       C069|        21|       5|26-08-2023|2025-10-04 02:52:39|   30-08-2023|2025-10-04 13:26:45|         Pune| Raksha Bandhan|
|      16|       C013|        20|       3|16-02-2023|2025-10-04 15:06:11|   20-02-2023|2025-10-04 22:14:21|      Khammam|    Anniversary|
|      17|       C056|        60|       2|04-11-2023|2025-10-04 11:31:33|   13-11-2023|2025-10-04 18:40:13|         Kota|         Diwali|
|      18|       C072|        23|       4|10-12-2023|2025-10-04 10:46:15|   11-12-2023|2025-10-04 00:20:29|    Moradabad|    Anniversary|
|      19|       C072|        62|       4|07-03-2023|2025-10-04 07:59:48|   08-03-2023|2025-10-04 03:04:34|Vijayanagaram|           Holi|
|      20|       C011|        52|       1|11-02-2023|2025-10-04 14:36:57|   14-02-2023|2025-10-04 01:34:16|      Madurai|Valentine's Day|
+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+-------------+---------------+
only showing top 20 rows

**withColumn**

In [20]:
df2 = df1.withColumn("Source", lit("Online"))

In [21]:
df2.show()

+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+-------------+---------------+------+
|Order_ID|Customer_ID|Product_ID|Quantity|order_date|         Order_Time|Delivery_Date|      Delivery_Time|     Location|       Occasion|Source|
+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+-------------+---------------+------+
|       1|       C037|        67|       5|24-02-2023|2025-10-04 23:48:13|   05-03-2023|2025-10-04 07:27:10|    Bardhaman|    Anniversary|Online|
|       2|       C019|        41|       2|07-11-2023|2025-10-04 23:30:18|   13-11-2023|2025-10-04 07:16:17|       Jaipur|         Diwali|Online|
|       3|       C029|        67|       5|14-07-2023|2025-10-04 19:12:03|   19-07-2023|2025-10-04 17:39:00|     Bilaspur|    Anniversary|Online|
|       4|       C012|        14|       5|10-07-2023|2025-10-04 04:44:29|   19-07-2023|2025-10-04 06:33:23|     Guwahati|       Birthday|Online|
|       5|       C078|        58|       2|11-02-2023|2025-10-04 19:44:48|   18-02-2023|2025-10-04 11:08:52|       Rajkot|Valentine's Day|Online|
|       6|       C040|        28|       4|20-08-2023|2025-10-04 22:11:35|   26-08-2023|2025-10-04 19:06:46|        Sirsa| Raksha Bandhan|Online|
|       7|       C009|        45|       2|08-05-2023|2025-10-04 01:45:13|   13-05-2023|2025-10-04 10:07:17|       Nanded|       Birthday|Online|
|       8|       C097|        43|       3|08-11-2023|2025-10-04 19:20:02|   14-11-2023|2025-10-04 08:44:45|       Morena|         Diwali|Online|
|       9|       C044|        27|       4|20-08-2023|2025-10-04 23:39:51|   29-08-2023|2025-10-04 23:59:54|       Rajkot| Raksha Bandhan|Online|
|      10|       C099|        56|       3|26-02-2023|2025-10-04 00:17:26|   08-03-2023|2025-10-04 20:47:43|       Ambala|    Anniversary|Online|
|      11|       C065|        16|       4|02-03-2023|2025-10-04 20:14:55|   03-03-2023|2025-10-04 23:19:47|      Belgaum|           Holi|Online|
|      12|       C097|        38|       3|12-07-2023|2025-10-04 08:28:56|   20-07-2023|2025-10-04 23:34:57|       Karnal|       Birthday|Online|
|      13|       C024|        20|       3|24-02-2023|2025-10-04 16:47:16|   04-03-2023|2025-10-04 02:27:37|   Gandhidham|    Anniversary|Online|
|      14|       C042|        60|       1|08-11-2023|2025-10-04 03:46:06|   15-11-2023|2025-10-04 12:08:02|     Bilaspur|         Diwali|Online|
|      15|       C069|        21|       5|26-08-2023|2025-10-04 02:52:39|   30-08-2023|2025-10-04 13:26:45|         Pune| Raksha Bandhan|Online|
|      16|       C013|        20|       3|16-02-2023|2025-10-04 15:06:11|   20-02-2023|2025-10-04 22:14:21|      Khammam|    Anniversary|Online|
|      17|       C056|        60|       2|04-11-2023|2025-10-04 11:31:33|   13-11-2023|2025-10-04 18:40:13|         Kota|         Diwali|Online|
|      18|       C072|        23|       4|10-12-2023|2025-10-04 10:46:15|   11-12-2023|2025-10-04 00:20:29|    Moradabad|    Anniversary|Online|
|      19|       C072|        62|       4|07-03-2023|2025-10-04 07:59:48|   08-03-2023|2025-10-04 03:04:34|Vijayanagaram|           Holi|Online|
|      20|       C011|        52|       1|11-02-2023|2025-10-04 14:36:57|   14-02-2023|2025-10-04 01:34:16|      Madurai|Valentine's Day|Online|
+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+-------------+---------------+------+
only showing top 20 rows

In [23]:
df3 = df2.withColumn("order_year", year(to_date(col("order_date"), "dd-MM-yyyy")))

In [24]:
df3.show()

+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+-------------+---------------+------+----------+
|Order_ID|Customer_ID|Product_ID|Quantity|order_date|         Order_Time|Delivery_Date|      Delivery_Time|     Location|       Occasion|Source|order_year|
+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+-------------+---------------+------+----------+
|       1|       C037|        67|       5|24-02-2023|2025-10-04 23:48:13|   05-03-2023|2025-10-04 07:27:10|    Bardhaman|    Anniversary|Online|      2023|
|       2|       C019|        41|       2|07-11-2023|2025-10-04 23:30:18|   13-11-2023|2025-10-04 07:16:17|       Jaipur|         Diwali|Online|      2023|
|       3|       C029|        67|       5|14-07-2023|2025-10-04 19:12:03|   19-07-2023|2025-10-04 17:39:00|     Bilaspur|    Anniversary|Online|      2023|
|       4|       C012|        14|       5|10-07-2023|2025-10-04 04:44:29|   19-07-2023|2025-10-04 06:33:23|     Guwahati|       Birthday|Online|      2023|
|       5|       C078|        58|       2|11-02-2023|2025-10-04 19:44:48|   18-02-2023|2025-10-04 11:08:52|       Rajkot|Valentine's Day|Online|      2023|
|       6|       C040|        28|       4|20-08-2023|2025-10-04 22:11:35|   26-08-2023|2025-10-04 19:06:46|        Sirsa| Raksha Bandhan|Online|      2023|
|       7|       C009|        45|       2|08-05-2023|2025-10-04 01:45:13|   13-05-2023|2025-10-04 10:07:17|       Nanded|       Birthday|Online|      2023|
|       8|       C097|        43|       3|08-11-2023|2025-10-04 19:20:02|   14-11-2023|2025-10-04 08:44:45|       Morena|         Diwali|Online|      2023|
|       9|       C044|        27|       4|20-08-2023|2025-10-04 23:39:51|   29-08-2023|2025-10-04 23:59:54|       Rajkot| Raksha Bandhan|Online|      2023|
|      10|       C099|        56|       3|26-02-2023|2025-10-04 00:17:26|   08-03-2023|2025-10-04 20:47:43|       Ambala|    Anniversary|Online|      2023|
|      11|       C065|        16|       4|02-03-2023|2025-10-04 20:14:55|   03-03-2023|2025-10-04 23:19:47|      Belgaum|           Holi|Online|      2023|
|      12|       C097|        38|       3|12-07-2023|2025-10-04 08:28:56|   20-07-2023|2025-10-04 23:34:57|       Karnal|       Birthday|Online|      2023|
|      13|       C024|        20|       3|24-02-2023|2025-10-04 16:47:16|   04-03-2023|2025-10-04 02:27:37|   Gandhidham|    Anniversary|Online|      2023|
|      14|       C042|        60|       1|08-11-2023|2025-10-04 03:46:06|   15-11-2023|2025-10-04 12:08:02|     Bilaspur|         Diwali|Online|      2023|
|      15|       C069|        21|       5|26-08-2023|2025-10-04 02:52:39|   30-08-2023|2025-10-04 13:26:45|         Pune| Raksha Bandhan|Online|      2023|
|      16|       C013|        20|       3|16-02-2023|2025-10-04 15:06:11|   20-02-2023|2025-10-04 22:14:21|      Khammam|    Anniversary|Online|      2023|
|      17|       C056|        60|       2|04-11-2023|2025-10-04 11:31:33|   13-11-2023|2025-10-04 18:40:13|         Kota|         Diwali|Online|      2023|
|      18|       C072|        23|       4|10-12-2023|2025-10-04 10:46:15|   11-12-2023|2025-10-04 00:20:29|    Moradabad|    Anniversary|Online|      2023|
|      19|       C072|        62|       4|07-03-2023|2025-10-04 07:59:48|   08-03-2023|2025-10-04 03:04:34|Vijayanagaram|           Holi|Online|      2023|
|      20|       C011|        52|       1|11-02-2023|2025-10-04 14:36:57|   14-02-2023|2025-10-04 01:34:16|      Madurai|Valentine's Day|Online|      2023|
+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+-------------+---------------+------+----------+
only showing top 20 rows

In [25]:
df4 = df3.withColumn("adjusted_quantity", col("Quantity") + 10)

In [26]:
df4.show()

+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+-------------+---------------+------+----------+-----------------+
|Order_ID|Customer_ID|Product_ID|Quantity|order_date|         Order_Time|Delivery_Date|      Delivery_Time|     Location|       Occasion|Source|order_year|adjusted_quantity|
+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+-------------+---------------+------+----------+-----------------+
|       1|       C037|        67|       5|24-02-2023|2025-10-04 23:48:13|   05-03-2023|2025-10-04 07:27:10|    Bardhaman|    Anniversary|Online|      2023|               15|
|       2|       C019|        41|       2|07-11-2023|2025-10-04 23:30:18|   13-11-2023|2025-10-04 07:16:17|       Jaipur|         Diwali|Online|      2023|               12|
|       3|       C029|        67|       5|14-07-2023|2025-10-04 19:12:03|   19-07-2023|2025-10-04 17:39:00|     Bilaspur|    Anniversary|Online|      2023|               15|
|       4|       C012|        14|       5|10-07-2023|2025-10-04 04:44:29|   19-07-2023|2025-10-04 06:33:23|     Guwahati|       Birthday|Online|      2023|               15|
|       5|       C078|        58|       2|11-02-2023|2025-10-04 19:44:48|   18-02-2023|2025-10-04 11:08:52|       Rajkot|Valentine's Day|Online|      2023|               12|
|       6|       C040|        28|       4|20-08-2023|2025-10-04 22:11:35|   26-08-2023|2025-10-04 19:06:46|        Sirsa| Raksha Bandhan|Online|      2023|               14|
|       7|       C009|        45|       2|08-05-2023|2025-10-04 01:45:13|   13-05-2023|2025-10-04 10:07:17|       Nanded|       Birthday|Online|      2023|               12|
|       8|       C097|        43|       3|08-11-2023|2025-10-04 19:20:02|   14-11-2023|2025-10-04 08:44:45|       Morena|         Diwali|Online|      2023|               13|
|       9|       C044|        27|       4|20-08-2023|2025-10-04 23:39:51|   29-08-2023|2025-10-04 23:59:54|       Rajkot| Raksha Bandhan|Online|      2023|               14|
|      10|       C099|        56|       3|26-02-2023|2025-10-04 00:17:26|   08-03-2023|2025-10-04 20:47:43|       Ambala|    Anniversary|Online|      2023|               13|
|      11|       C065|        16|       4|02-03-2023|2025-10-04 20:14:55|   03-03-2023|2025-10-04 23:19:47|      Belgaum|           Holi|Online|      2023|               14|
|      12|       C097|        38|       3|12-07-2023|2025-10-04 08:28:56|   20-07-2023|2025-10-04 23:34:57|       Karnal|       Birthday|Online|      2023|               13|
|      13|       C024|        20|       3|24-02-2023|2025-10-04 16:47:16|   04-03-2023|2025-10-04 02:27:37|   Gandhidham|    Anniversary|Online|      2023|               13|
|      14|       C042|        60|       1|08-11-2023|2025-10-04 03:46:06|   15-11-2023|2025-10-04 12:08:02|     Bilaspur|         Diwali|Online|      2023|               11|
|      15|       C069|        21|       5|26-08-2023|2025-10-04 02:52:39|   30-08-2023|2025-10-04 13:26:45|         Pune| Raksha Bandhan|Online|      2023|               15|
|      16|       C013|        20|       3|16-02-2023|2025-10-04 15:06:11|   20-02-2023|2025-10-04 22:14:21|      Khammam|    Anniversary|Online|      2023|               13|
|      17|       C056|        60|       2|04-11-2023|2025-10-04 11:31:33|   13-11-2023|2025-10-04 18:40:13|         Kota|         Diwali|Online|      2023|               12|
|      18|       C072|        23|       4|10-12-2023|2025-10-04 10:46:15|   11-12-2023|2025-10-04 00:20:29|    Moradabad|    Anniversary|Online|      2023|               14|
|      19|       C072|        62|       4|07-03-2023|2025-10-04 07:59:48|   08-03-2023|2025-10-04 03:04:34|Vijayanagaram|           Holi|Online|      2023|               14|
|      20|       C011|        52|       1|11-02-2023|2025-10-04 14:36:57|   14-02-2023|2025-10-04 01:34:16|      Madurai|Valentine's Day|Online|      2023|               11|
+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+-------------+---------------+------+----------+-----------------+
only showing top 20 rows

**filter()**

In [27]:
df_filtered1 = df.filter(col("Quantity") > 3)

In [28]:
df_filtered1.show()

+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+-------------+---------------+
|Order_ID|Customer_ID|Product_ID|Quantity|Order_Date|         Order_Time|Delivery_Date|      Delivery_Time|     Location|       Occasion|
+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+-------------+---------------+
|       1|       C037|        67|       5|24-02-2023|2025-10-04 23:48:13|   05-03-2023|2025-10-04 07:27:10|    Bardhaman|    Anniversary|
|       3|       C029|        67|       5|14-07-2023|2025-10-04 19:12:03|   19-07-2023|2025-10-04 17:39:00|     Bilaspur|    Anniversary|
|       4|       C012|        14|       5|10-07-2023|2025-10-04 04:44:29|   19-07-2023|2025-10-04 06:33:23|     Guwahati|       Birthday|
|       6|       C040|        28|       4|20-08-2023|2025-10-04 22:11:35|   26-08-2023|2025-10-04 19:06:46|        Sirsa| Raksha Bandhan|
|       9|       C044|        27|       4|20-08-2023|2025-10-04 23:39:51|   29-08-2023|2025-10-04 23:59:54|       Rajkot| Raksha Bandhan|
|      11|       C065|        16|       4|02-03-2023|2025-10-04 20:14:55|   03-03-2023|2025-10-04 23:19:47|      Belgaum|           Holi|
|      15|       C069|        21|       5|26-08-2023|2025-10-04 02:52:39|   30-08-2023|2025-10-04 13:26:45|         Pune| Raksha Bandhan|
|      18|       C072|        23|       4|10-12-2023|2025-10-04 10:46:15|   11-12-2023|2025-10-04 00:20:29|    Moradabad|    Anniversary|
|      19|       C072|        62|       4|07-03-2023|2025-10-04 07:59:48|   08-03-2023|2025-10-04 03:04:34|Vijayanagaram|           Holi|
|      29|       C064|        10|       5|22-09-2023|2025-10-04 01:06:22|   01-10-2023|2025-10-04 14:29:16|       Kollam|       Birthday|
|      30|       C044|        23|       4|13-01-2023|2025-10-04 09:23:33|   15-01-2023|2025-10-04 13:36:58|  Bulandshahr|    Anniversary|
|      31|       C029|         7|       5|28-02-2023|2025-10-04 13:13:22|   03-03-2023|2025-10-04 23:35:49|      Nandyal|           Holi|
|      32|       C065|         7|       5|04-03-2023|2025-10-04 15:36:41|   05-03-2023|2025-10-04 15:54:10|  Pudukkottai|           Holi|
|      35|       C055|         7|       5|02-03-2023|2025-10-04 16:10:26|   05-03-2023|2025-10-04 15:00:40|      Asansol|           Holi|
|      37|       C096|        19|       5|10-02-2023|2025-10-04 11:01:04|   15-02-2023|2025-10-04 21:19:36|        Katni|Valentine's Day|
|      40|       C066|        48|       4|02-11-2023|2025-10-04 14:15:10|   05-11-2023|2025-10-04 04:29:54|      Raiganj|         Diwali|
|      41|       C047|        54|       4|08-06-2023|2025-10-04 19:19:50|   10-06-2023|2025-10-04 14:29:42|      Saharsa|    Anniversary|
|      45|       C097|        61|       5|28-04-2023|2025-10-04 14:26:26|   29-04-2023|2025-10-04 06:16:36|       Haldia|    Anniversary|
|      46|       C059|        22|       4|18-04-2023|2025-10-04 03:21:11|   23-04-2023|2025-10-04 08:02:45|         Guna|  All Occasions|
|      47|       C013|         7|       5|26-02-2023|2025-10-04 13:04:28|   28-02-2023|2025-10-04 06:00:20|       Jaipur|           Holi|
+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+-------------+---------------+
only showing top 20 rows

In [29]:
df_filtered4 = df.filter((col("Quantity") > 3) & (col("Occasion") == "Birthday"))

In [30]:
df_filtered4.show()

+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+------------+--------+
|Order_ID|Customer_ID|Product_ID|Quantity|Order_Date|         Order_Time|Delivery_Date|      Delivery_Time|    Location|Occasion|
+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+------------+--------+
|       4|       C012|        14|       5|10-07-2023|2025-10-04 04:44:29|   19-07-2023|2025-10-04 06:33:23|    Guwahati|Birthday|
|      29|       C064|        10|       5|22-09-2023|2025-10-04 01:06:22|   01-10-2023|2025-10-04 14:29:16|      Kollam|Birthday|
|      92|       C100|        18|       5|15-05-2023|2025-10-04 00:11:18|   25-05-2023|2025-10-04 11:17:55|      Rohtak|Birthday|
|      93|       C047|        24|       4|01-05-2023|2025-10-04 17:50:59|   03-05-2023|2025-10-04 18:35:56|    Warangal|Birthday|
|      95|       C039|        70|       4|29-05-2023|2025-10-04 07:54:41|   03-06-2023|2025-10-04 07:16:33|Narasaraopet|Birthday|
|     101|       C064|        70|       4|19-06-2023|2025-10-04 03:56:52|   21-06-2023|2025-10-04 06:18:37|     Belgaum|Birthday|
|     122|       C083|        24|       5|03-10-2023|2025-10-04 09:04:23|   13-10-2023|2025-10-04 03:15:14|    Gulbarga|Birthday|
|     130|       C070|        10|       5|22-04-2023|2025-10-04 13:32:41|   27-04-2023|2025-10-04 22:01:54|   Darbhanga|Birthday|
|     138|       C022|        57|       4|11-03-2023|2025-10-04 09:33:56|   18-03-2023|2025-10-04 06:02:40|    Siliguri|Birthday|
|     154|       C049|        45|       5|21-11-2023|2025-10-04 23:14:18|   25-11-2023|2025-10-04 02:04:59|      Indore|Birthday|
|     164|       C063|        14|       5|25-04-2023|2025-10-04 02:04:02|   27-04-2023|2025-10-04 11:49:33|  Berhampore|Birthday|
|     181|       C064|        10|       4|28-08-2023|2025-10-04 05:55:22|   06-09-2023|2025-10-04 04:53:28|      Howrah|Birthday|
|     199|       C093|        70|       5|16-08-2023|2025-10-04 01:54:30|   19-08-2023|2025-10-04 16:24:59|    Bareilly|Birthday|
|     202|       C089|        36|       5|27-07-2023|2025-10-04 08:13:48|   01-08-2023|2025-10-04 03:02:01|  Bhimavaram|Birthday|
|     204|       C062|        10|       4|03-07-2023|2025-10-04 10:46:43|   09-07-2023|2025-10-04 06:29:03|      Jaipur|Birthday|
|     208|       C001|        18|       5|02-04-2023|2025-10-04 04:30:47|   12-04-2023|2025-10-04 07:06:36|       Kulti|Birthday|
|     210|       C095|        32|       4|10-12-2023|2025-10-04 00:46:32|   15-12-2023|2025-10-04 08:02:35|     Aligarh|Birthday|
|     227|       C004|        24|       4|25-12-2023|2025-10-04 18:50:42|   26-12-2023|2025-10-04 14:09:44|       Surat|Birthday|
|     263|       C081|        57|       4|12-03-2023|2025-10-04 09:35:10|   13-03-2023|2025-10-04 15:22:01|    Chittoor|Birthday|
|     271|       C039|        36|       5|23-06-2023|2025-10-04 18:27:42|   30-06-2023|2025-10-04 18:20:05|       Patna|Birthday|
+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+------------+--------+
only showing top 20 rows

**sort()**

In [31]:
df_sorted = df.sort("Quantity")

In [32]:
df_sorted.show()

+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+---------------+---------------+
|Order_ID|Customer_ID|Product_ID|Quantity|Order_Date|         Order_Time|Delivery_Date|      Delivery_Time|       Location|       Occasion|
+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+---------------+---------------+
|     115|       C095|        57|       1|28-04-2023|2025-10-04 18:11:22|   05-05-2023|2025-10-04 11:36:31|         Jhansi|       Birthday|
|     243|       C043|         3|       1|05-02-2023|2025-10-04 20:50:37|   10-02-2023|2025-10-04 12:30:54|          Siwan|Valentine's Day|
|     118|       C035|        62|       1|27-02-2023|2025-10-04 14:30:59|   05-03-2023|2025-10-04 10:32:52|      Bhavnagar|           Holi|
|      98|       C031|         8|       1|30-10-2023|2025-10-04 15:26:00|   01-11-2023|2025-10-04 16:34:28|    Bulandshahr|    Anniversary|
|     120|       C050|        61|       1|25-12-2023|2025-10-04 22:26:37|   31-12-2023|2025-10-04 09:57:24|Kalyan-Dombivli|    Anniversary|
|      49|       C020|        43|       1|11-11-2023|2025-10-04 17:44:30|   18-11-2023|2025-10-04 13:49:52|    Nangloi Jat|         Diwali|
|     123|       C026|        38|       1|15-01-2023|2025-10-04 00:31:09|   25-01-2023|2025-10-04 04:58:43|       Malegaon|       Birthday|
|      20|       C011|        52|       1|11-02-2023|2025-10-04 14:36:57|   14-02-2023|2025-10-04 01:34:16|        Madurai|Valentine's Day|
|     136|       C036|        56|       1|05-09-2023|2025-10-04 16:08:59|   09-09-2023|2025-10-04 22:12:18|           Guna|    Anniversary|
|      36|       C029|        66|       1|04-03-2023|2025-10-04 10:28:53|   14-03-2023|2025-10-04 08:14:49|      New Delhi|           Holi|
|     140|       C015|        47|       1|04-03-2023|2025-10-04 06:19:35|   13-03-2023|2025-10-04 21:29:35|      Bharatpur|           Holi|
|      44|       C006|        14|       1|17-07-2023|2025-10-04 21:57:56|   27-07-2023|2025-10-04 10:48:09|      Bhavnagar|       Birthday|
|     151|       C051|        43|       1|03-11-2023|2025-10-04 21:42:26|   10-11-2023|2025-10-04 03:56:02|          Jalna|         Diwali|
|      14|       C042|        60|       1|08-11-2023|2025-10-04 03:46:06|   15-11-2023|2025-10-04 12:08:02|       Bilaspur|         Diwali|
|     175|       C042|        31|       1|13-10-2023|2025-10-04 01:17:47|   20-10-2023|2025-10-04 07:22:52|    Navi Mumbai|  All Occasions|
|      58|       C077|        36|       1|06-01-2023|2025-10-04 02:51:30|   15-01-2023|2025-10-04 08:26:18|       Amravati|       Birthday|
|     178|       C097|        61|       1|14-11-2023|2025-10-04 23:04:31|   16-11-2023|2025-10-04 02:14:23|         Bhilai|    Anniversary|
|      70|       C037|        17|       1|28-09-2023|2025-10-04 04:21:09|   03-10-2023|2025-10-04 11:44:33|  Vijayanagaram|    Anniversary|
|     182|       C070|         2|       1|08-02-2023|2025-10-04 23:21:30|   15-02-2023|2025-10-04 06:07:33|        Chennai|Valentine's Day|
|      76|       C054|         4|       1|09-11-2023|2025-10-04 05:13:11|   12-11-2023|2025-10-04 00:34:50|          Anand|         Diwali|
+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+---------------+---------------+
only showing top 20 rows

**orderby**

In [33]:
df_ordered = df.orderBy(col("Quantity").desc())

In [34]:
df_ordered.show()

+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+------------------+---------------+
|Order_ID|Customer_ID|Product_ID|Quantity|Order_Date|         Order_Time|Delivery_Date|      Delivery_Time|          Location|       Occasion|
+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+------------------+---------------+
|      47|       C013|         7|       5|26-02-2023|2025-10-04 13:04:28|   28-02-2023|2025-10-04 06:00:20|            Jaipur|           Holi|
|       3|       C029|        67|       5|14-07-2023|2025-10-04 19:12:03|   19-07-2023|2025-10-04 17:39:00|          Bilaspur|    Anniversary|
|       4|       C012|        14|       5|10-07-2023|2025-10-04 04:44:29|   19-07-2023|2025-10-04 06:33:23|          Guwahati|       Birthday|
|      15|       C069|        21|       5|26-08-2023|2025-10-04 02:52:39|   30-08-2023|2025-10-04 13:26:45|              Pune| Raksha Bandhan|
|      29|       C064|        10|       5|22-09-2023|2025-10-04 01:06:22|   01-10-2023|2025-10-04 14:29:16|            Kollam|       Birthday|
|      31|       C029|         7|       5|28-02-2023|2025-10-04 13:13:22|   03-03-2023|2025-10-04 23:35:49|           Nandyal|           Holi|
|      32|       C065|         7|       5|04-03-2023|2025-10-04 15:36:41|   05-03-2023|2025-10-04 15:54:10|       Pudukkottai|           Holi|
|      35|       C055|         7|       5|02-03-2023|2025-10-04 16:10:26|   05-03-2023|2025-10-04 15:00:40|           Asansol|           Holi|
|      37|       C096|        19|       5|10-02-2023|2025-10-04 11:01:04|   15-02-2023|2025-10-04 21:19:36|             Katni|Valentine's Day|
|      45|       C097|        61|       5|28-04-2023|2025-10-04 14:26:26|   29-04-2023|2025-10-04 06:16:36|            Haldia|    Anniversary|
|       1|       C037|        67|       5|24-02-2023|2025-10-04 23:48:13|   05-03-2023|2025-10-04 07:27:10|         Bardhaman|    Anniversary|
|      53|       C045|         9|       5|20-08-2023|2025-10-04 08:25:45|   27-08-2023|2025-10-04 05:59:31|         Kozhikode| Raksha Bandhan|
|      56|       C095|        58|       5|08-02-2023|2025-10-04 12:11:48|   13-02-2023|2025-10-04 18:51:59|           Danapur|Valentine's Day|
|      57|       C090|        35|       5|26-02-2023|2025-10-04 08:00:15|   06-03-2023|2025-10-04 12:27:32|         Ahmedabad|           Holi|
|      59|       C041|        51|       5|26-06-2023|2025-10-04 03:56:15|   28-06-2023|2025-10-04 20:10:04|Thiruvananthapuram|  All Occasions|
|      66|       C017|        35|       5|26-02-2023|2025-10-04 21:00:44|   27-02-2023|2025-10-04 06:25:58|            Munger|           Holi|
|      71|       C013|         9|       5|20-08-2023|2025-10-04 16:32:06|   28-08-2023|2025-10-04 13:31:32|            Karnal| Raksha Bandhan|
|      81|       C053|         1|       5|22-02-2023|2025-10-04 18:29:21|   03-03-2023|2025-10-04 07:09:32|   Kalyan-Dombivli|  All Occasions|
|      87|       C055|         2|       5|04-02-2023|2025-10-04 13:17:21|   11-02-2023|2025-10-04 23:06:36|             Malda|Valentine's Day|
|      89|       C060|         3|       5|12-02-2023|2025-10-04 22:56:52|   13-02-2023|2025-10-04 14:41:41|        Aurangabad|Valentine's Day|
+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+------------------+---------------+
only showing top 20 rows

**groupby**

In [35]:
from pyspark.sql.functions import count, sum

In [36]:
orders_by_location = df.groupBy("Location").agg(count("Order_ID").alias("Total_Orders"))

In [37]:
orders_by_location.show()

+----------------+------------+
|        Location|Total_Orders|
+----------------+------------+
|       Bangalore|           4|
|     Vasai-Virar|           2|
|         Udaipur|           2|
|         Raichur|           2|
|         Saharsa|           2|
|         Khandwa|           2|
|           Kochi|           3|
|           Bhind|           2|
|       Singrauli|           3|
|       Faridabad|           2|
|      Aurangabad|           4|
|        Tinsukia|           2|
|           Hosur|           4|
|          Kavali|           3|
|     Bhubaneswar|           4|
|          Mysore|           2|
|        Uluberia|           4|
|       Ozhukarai|           7|
|          Rampur|           1|
|Pimpri-Chinchwad|           4|
+----------------+------------+
only showing top 20 rows

**Union and Union all**

In [38]:
df_a = df.select("Customer_ID", "Location").limit(5)
df_b = df.select("Customer_ID", "Location").limit(5)
df_union_all = df_a.union(df_b)
df_union = df_a.union(df_b).distinct()

In [39]:
df_union_all.show()

+-----------+---------+
|Customer_ID| Location|
+-----------+---------+
|       C037|Bardhaman|
|       C019|   Jaipur|
|       C029| Bilaspur|
|       C012| Guwahati|
|       C078|   Rajkot|
|       C037|Bardhaman|
|       C019|   Jaipur|
|       C029| Bilaspur|
|       C012| Guwahati|
|       C078|   Rajkot|
+-----------+---------+

In [40]:
df_union.show()

+-----------+---------+
|Customer_ID| Location|
+-----------+---------+
|       C037|Bardhaman|
|       C019|   Jaipur|
|       C029| Bilaspur|
|       C012| Guwahati|
|       C078|   Rajkot|
+-----------+---------+

**pivot**

In [41]:
pivot_df = (
    df.groupBy("Location")
      .pivot("Occasion")
      .agg(sum("Quantity"))
)

In [42]:
pivot_df.show()

+----------------+-------------+-----------+--------+------+----+--------------+---------------+
|        Location|All Occasions|Anniversary|Birthday|Diwali|Holi|Raksha Bandhan|Valentine's Day|
+----------------+-------------+-----------+--------+------+----+--------------+---------------+
|     Vasai-Virar|         NULL|       NULL|    NULL|  NULL|NULL|          NULL|              7|
|       Bangalore|         NULL|       NULL|       3|  NULL|   6|          NULL|              2|
|         Raichur|         NULL|          7|    NULL|  NULL|NULL|          NULL|           NULL|
|         Udaipur|         NULL|          1|    NULL|  NULL|   5|          NULL|           NULL|
|         Khandwa|            1|       NULL|    NULL|  NULL|NULL|          NULL|              3|
|         Saharsa|         NULL|          7|    NULL|  NULL|NULL|          NULL|           NULL|
|           Bhind|         NULL|       NULL|       4|  NULL|   3|          NULL|           NULL|
|           Kochi|         NULL|          3|    NULL|     3|   3|          NULL|           NULL|
|       Singrauli|         NULL|       NULL|       4|     2|   3|          NULL|           NULL|
|      Aurangabad|         NULL|          1|    NULL|  NULL|   5|             4|              5|
|       Faridabad|         NULL|          5|    NULL|  NULL|   1|          NULL|           NULL|
|        Tinsukia|            1|       NULL|    NULL|     1|NULL|          NULL|           NULL|
|          Kavali|         NULL|          1|    NULL|  NULL|   7|          NULL|           NULL|
|           Hosur|         NULL|          6|    NULL|  NULL|   7|          NULL|           NULL|
|     Bhubaneswar|            7|       NULL|       1|     4|NULL|          NULL|           NULL|
|          Mysore|         NULL|          1|       5|  NULL|NULL|          NULL|           NULL|
|        Uluberia|            1|       NULL|    NULL|  NULL|   6|             1|           NULL|
|       Ozhukarai|         NULL|          2|       3|     2|   5|             8|           NULL|
|          Rampur|         NULL|          5|    NULL|  NULL|NULL|          NULL|           NULL|
|Pimpri-Chinchwad|            2|          1|    NULL|  NULL|   2|          NULL|           NULL|
+----------------+-------------+-----------+--------+------+----+--------------+---------------+
only showing top 20 rows

In [43]:
from pyspark.sql.functions import expr

In [44]:
unpivot_df = pivot_df.select(
    "Location",
    expr("stack(3, 'Anniversary', Anniversary, 'Birthday', Birthday, 'Diwali', Diwali) as (Occasion, Total_Quantity)")
)

In [45]:


unpivot_df.show()

+-----------+-----------+--------------+
|   Location|   Occasion|Total_Quantity|
+-----------+-----------+--------------+
|Vasai-Virar|Anniversary|          NULL|
|Vasai-Virar|   Birthday|          NULL|
|Vasai-Virar|     Diwali|          NULL|
|  Bangalore|Anniversary|          NULL|
|  Bangalore|   Birthday|             3|
|  Bangalore|     Diwali|          NULL|
|    Raichur|Anniversary|             7|
|    Raichur|   Birthday|          NULL|
|    Raichur|     Diwali|          NULL|
|    Udaipur|Anniversary|             1|
|    Udaipur|   Birthday|          NULL|
|    Udaipur|     Diwali|          NULL|
|    Khandwa|Anniversary|          NULL|
|    Khandwa|   Birthday|          NULL|
|    Khandwa|     Diwali|          NULL|
|    Saharsa|Anniversary|             7|
|    Saharsa|   Birthday|          NULL|
|    Saharsa|     Diwali|          NULL|
|      Bhind|Anniversary|          NULL|
|      Bhind|   Birthday|             4|
+-----------+-----------+--------------+
only showing top 20 rows

In [46]:
from pyspark.sql.functions import date_format

In [47]:
df = df.withColumn("order_date_excel", date_format("order_date", "yyyy-MM-dd"))

In [48]:
df.show()

+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+-------------+---------------+----------------+
|Order_ID|Customer_ID|Product_ID|Quantity|Order_Date|         Order_Time|Delivery_Date|      Delivery_Time|     Location|       Occasion|order_date_excel|
+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+-------------+---------------+----------------+
|       1|       C037|        67|       5|24-02-2023|2025-10-04 23:48:13|   05-03-2023|2025-10-04 07:27:10|    Bardhaman|    Anniversary|            NULL|
|       2|       C019|        41|       2|07-11-2023|2025-10-04 23:30:18|   13-11-2023|2025-10-04 07:16:17|       Jaipur|         Diwali|            NULL|
|       3|       C029|        67|       5|14-07-2023|2025-10-04 19:12:03|   19-07-2023|2025-10-04 17:39:00|     Bilaspur|    Anniversary|            NULL|
|       4|       C012|        14|       5|10-07-2023|2025-10-04 04:44:29|   19-07-2023|2025-10-04 06:33:23|     Guwahati|       Birthday|            NULL|
|       5|       C078|        58|       2|11-02-2023|2025-10-04 19:44:48|   18-02-2023|2025-10-04 11:08:52|       Rajkot|Valentine's Day|            NULL|
|       6|       C040|        28|       4|20-08-2023|2025-10-04 22:11:35|   26-08-2023|2025-10-04 19:06:46|        Sirsa| Raksha Bandhan|            NULL|
|       7|       C009|        45|       2|08-05-2023|2025-10-04 01:45:13|   13-05-2023|2025-10-04 10:07:17|       Nanded|       Birthday|            NULL|
|       8|       C097|        43|       3|08-11-2023|2025-10-04 19:20:02|   14-11-2023|2025-10-04 08:44:45|       Morena|         Diwali|            NULL|
|       9|       C044|        27|       4|20-08-2023|2025-10-04 23:39:51|   29-08-2023|2025-10-04 23:59:54|       Rajkot| Raksha Bandhan|            NULL|
|      10|       C099|        56|       3|26-02-2023|2025-10-04 00:17:26|   08-03-2023|2025-10-04 20:47:43|       Ambala|    Anniversary|            NULL|
|      11|       C065|        16|       4|02-03-2023|2025-10-04 20:14:55|   03-03-2023|2025-10-04 23:19:47|      Belgaum|           Holi|            NULL|
|      12|       C097|        38|       3|12-07-2023|2025-10-04 08:28:56|   20-07-2023|2025-10-04 23:34:57|       Karnal|       Birthday|            NULL|
|      13|       C024|        20|       3|24-02-2023|2025-10-04 16:47:16|   04-03-2023|2025-10-04 02:27:37|   Gandhidham|    Anniversary|            NULL|
|      14|       C042|        60|       1|08-11-2023|2025-10-04 03:46:06|   15-11-2023|2025-10-04 12:08:02|     Bilaspur|         Diwali|            NULL|
|      15|       C069|        21|       5|26-08-2023|2025-10-04 02:52:39|   30-08-2023|2025-10-04 13:26:45|         Pune| Raksha Bandhan|            NULL|
|      16|       C013|        20|       3|16-02-2023|2025-10-04 15:06:11|   20-02-2023|2025-10-04 22:14:21|      Khammam|    Anniversary|            NULL|
|      17|       C056|        60|       2|04-11-2023|2025-10-04 11:31:33|   13-11-2023|2025-10-04 18:40:13|         Kota|         Diwali|            NULL|
|      18|       C072|        23|       4|10-12-2023|2025-10-04 10:46:15|   11-12-2023|2025-10-04 00:20:29|    Moradabad|    Anniversary|            NULL|
|      19|       C072|        62|       4|07-03-2023|2025-10-04 07:59:48|   08-03-2023|2025-10-04 03:04:34|Vijayanagaram|           Holi|            NULL|
|      20|       C011|        52|       1|11-02-2023|2025-10-04 14:36:57|   14-02-2023|2025-10-04 01:34:16|      Madurai|Valentine's Day|            NULL|
+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+-------------+---------------+----------------+
only showing top 20 rows

**Window**

In [49]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import row_number
from pyspark.sql.window import Window

spark = SparkSession.builder.appName("SimpleWindow").getOrCreate()
df = spark.read.option("header", "true").csv("/content/orders(1).csv", inferSchema=True)
windowSpec = Window.partitionBy("Customer_ID").orderBy("Quantity")
df = df.withColumn("row_num", row_number().over(windowSpec))

df.show()

+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+--------------------+---------------+-------+
|Order_ID|Customer_ID|Product_ID|Quantity|Order_Date|         Order_Time|Delivery_Date|      Delivery_Time|            Location|       Occasion|row_num|
+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+--------------------+---------------+-------+
|     259|       C001|        62|       1|05-03-2023|2025-10-04 15:21:54|   10-03-2023|2025-10-04 00:04:01|               Sirsa|           Holi|      1|
|     220|       C001|        26|       3|06-03-2023|2025-10-04 12:26:54|   15-03-2023|2025-10-04 14:41:52|           Jalandhar|           Holi|      2|
|     528|       C001|        27|       3|27-08-2023|2025-10-04 05:01:16|   30-08-2023|2025-10-04 17:03:43|         Tirunelveli| Raksha Bandhan|      3|
|     757|       C001|         2|       3|12-02-2023|2025-10-04 10:23:53|   20-02-2023|2025-10-04 04:40:28|            Shivpuri|Valentine's Day|      4|
|     208|       C001|        18|       5|02-04-2023|2025-10-04 04:30:47|   12-04-2023|2025-10-04 07:06:36|               Kulti|       Birthday|      5|
|     808|       C002|         9|       2|29-08-2023|2025-10-04 15:36:39|   30-08-2023|2025-10-04 10:11:21|Raurkela Industri...| Raksha Bandhan|      1|
|     968|       C002|         9|       2|25-08-2023|2025-10-04 23:55:22|   01-09-2023|2025-10-04 20:24:11|             Jaunpur| Raksha Bandhan|      2|
|     591|       C002|        31|       3|06-07-2023|2025-10-04 12:56:00|   14-07-2023|2025-10-04 00:00:51|               Surat|  All Occasions|      3|
|     708|       C002|        62|       3|03-03-2023|2025-10-04 10:59:15|   12-03-2023|2025-10-04 05:05:35|           Ozhukarai|           Holi|      4|
|     833|       C002|        26|       3|05-03-2023|2025-10-04 00:40:48|   13-03-2023|2025-10-04 01:40:17|        Shahjahanpur|           Holi|      5|
|     385|       C002|        50|       4|03-03-2023|2025-10-04 01:16:01|   08-03-2023|2025-10-04 10:46:18|               Alwar|           Holi|      6|
|     796|       C002|        61|       4|05-05-2023|2025-10-04 07:53:26|   14-05-2023|2025-10-04 08:08:25|              Rajkot|    Anniversary|      7|
|     691|       C002|        48|       5|06-11-2023|2025-10-04 05:22:43|   10-11-2023|2025-10-04 11:08:26|             Naihati|         Diwali|      8|
|     305|       C003|        26|       1|02-03-2023|2025-10-04 00:10:44|   10-03-2023|2025-10-04 14:01:05|             Lucknow|           Holi|      1|
|     382|       C003|        24|       1|03-06-2023|2025-10-04 10:02:19|   13-06-2023|2025-10-04 21:53:48|           Kamarhati|       Birthday|      2|
|     786|       C003|        47|       1|05-03-2023|2025-10-04 22:47:05|   07-03-2023|2025-10-04 07:16:53|Kirari Suleman Nagar|           Holi|      3|
|     249|       C003|        14|       2|10-09-2023|2025-10-04 22:22:16|   19-09-2023|2025-10-04 23:17:36|            Bareilly|       Birthday|      4|
|     280|       C003|        19|       3|07-02-2023|2025-10-04 17:44:47|   12-02-2023|2025-10-04 16:31:05|           Mangalore|Valentine's Day|      5|
|     364|       C003|        43|       3|08-11-2023|2025-10-04 06:09:01|   09-11-2023|2025-10-04 04:37:33|              Satara|         Diwali|      6|
|     838|       C003|        19|       3|09-02-2023|2025-10-04 10:18:01|   17-02-2023|2025-10-04 06:09:40|               Sirsa|Valentine's Day|      7|
+--------+-----------+----------+--------+----------+-------------------+-------------+-------------------+--------------------+---------------+-------+
only showing top 20 rows

**parquest**